.header {
}

.header-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content__logo {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.header-content__nav {
  margin-left: 100px;
}

.header-content__nav__list {
  display: flex;
}
.header-content__nav__list__item__link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 400;
}
